{% extends "bootstrap/base.html" %} {% block title %} Dashboard {% endblock %}
{% block styles %} {{super()}}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="" />
<title>Project X</title>
<!-- Custom CSS -->
<link
  href="{{url_for('static', filename='assets/libs/flot/css/float-chart.css')}}"
  rel="stylesheet"
/>
<!-- Custom CSS -->
<link
  href="{{url_for('static', filename='dist/css/style.min.css')}}"
  rel="stylesheet"
/>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{% endblock %} {% block content %}
<!-- Preloader -  in spinners.css -->
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<!-- Main wrapper -  in pages.scss -->
<div id="main-wrapper">
  <!-- Topbar header -  in pages.scss -->
  <header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
      <div class="navbar-header" data-logobg="skin5">
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a
          class="nav-toggler waves-effect waves-light d-block d-md-none"
          href="javascript:void(0)"
          ><i class="ti-menu ti-close"></i
        ></a>

        <!-- Logo -->

        <a class="navbar-brand" href="signup.html">
          <!-- Logo icon -->
          <b class="logo-icon p-l-10">
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img
              src="{{url_for('static', filename='assets/images/logo-icon.png')}}"
              alt="homepage"
              class="light-logo"
            />
          </b>
          <!--End Logo icon -->
          <!-- Logo text -->
          <span class="logo-text">
            <!-- dark Logo text -->
            IMage of project
          </span>
          <!-- Logo icon -->
          <!-- <b class="logo-icon"> -->
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <!-- <img src="assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

          <!-- </b> -->
          <!--End Logo icon -->
        </a>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Toggle which is visible on mobile only -->
        <!-- ============================================================== -->
        <a
          class="topbartoggler d-block d-md-none waves-effect waves-light"
          href="javascript:void(0)"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          ><i class="ti-more"></i
        ></a>
      </div>
      <!-- End Logo -->
      <div
        class="navbar-collapse collapse"
        id="navbarSupportedContent"
        data-navbarbg="skin5"
      >
        <!-- toggle and nav items -->
        <ul class="navbar-nav float-left mr-auto">
          <li class="nav-item d-none d-md-block">
            <a
              class="nav-link sidebartoggler waves-effect waves-light"
              href="javascript:void(0)"
              data-sidebartype="mini-sidebar"
              ><i class="mdi mdi-menu font-24"></i
            ></a>
          </li>

          <!-- Search -->

          <li class="nav-item search-box">
            <a
              class="nav-link waves-effect waves-dark"
              href="javascript:void(0)"
              ><i class="ti-search"></i
            ></a>
            <form class="app-search position-absolute">
              <input
                type="text"
                class="form-control"
                placeholder="Search &amp; enter"
              />
              <a class="srh-btn"><i class="ti-close"></i></a>
            </form>
          </li>
        </ul>
        <!-- ============================================================== -->
        <!-- Right side toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav float-right">
          <!-- ============================================================== -->
          <!-- Messages -->
          <!-- ============================================================== -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle waves-effect waves-dark"
              href=""
              id="2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="font-24 mdi mdi-comment-processing"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown"
              aria-labelledby="2"
            ></div>
          </li>
          <!-- User profile and search -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
              href=""
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><img
                src="{{url_for('static', filename='assets/images/users/1.jpg')}}"
                alt="user"
                class="rounded-circle"
                width="31"
            /></a>
            <div class="dropdown-menu dropdown-menu-right user-dd animated">
              <a class="dropdown-item" href="javascript:void(0)"
                ><i class="ti-user m-r-5 m-l-5"></i> My Profile</a
              >
              <a class="dropdown-item" href="javascript:void(0)"
                ><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a
              >
              <a class="dropdown-item" href="javascript:void(0)"
                ><i class="ti-email m-r-5 m-l-5"></i> Inbox</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)"
                ><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('logout')}}"
                ><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a
              >
              <div class="dropdown-divider"></div>
              <div class="p-l-30 p-10">
                <a
                  href="javascript:void(0)"
                  class="btn btn-sm btn-success btn-rounded"
                  >View Profile</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- End Topbar header -->
  <!-- Left Sidebar -  in sidebar.scss  -->
  <aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav" class="p-t-30">
          <li class="sidebar-item">
            <a
              class="sidebar-link waves-effect waves-dark sidebar-link"
              href="index.html"
              aria-expanded="false"
              ><i class="mdi mdi-view-dashboard"></i
              ><span class="hide-menu">Dashboard</span></a
            >
          </li>
          <li class="sidebar-item">
            <a
              class="sidebar-link has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="mdi mdi-receipt"></i
              ><span class="hide-menu">Detection </span></a
            >
            <ul aria-expanded="false" class="collapse  first-level">
              <li class="sidebar-item">
                <a href="form-basic.html" class="sidebar-link"
                  ><i class="mdi mdi-note-outline"></i
                  ><span class="hide-menu"> Messages </span></a
                >
              </li>
              <li class="sidebar-item">
                <a href="form-wizard.html" class="sidebar-link"
                  ><i class="mdi mdi-note-plus"></i
                  ><span class="hide-menu"> MALICIOUS URLS </span></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- End Left Sidebar -  in sidebar.scss  -->
  <!-- Page wrapper  -->
  <div class="page-wrapper">
    <footer class="footer text-center">
      All Rights Reserved
    </footer>
  </div>
</div>

<!-- All Jquery scripts -->
<script
  type="text/javascript"
  src="{{url_for('static', filename='assets/libs/jquery/dist/jquery.min.js')}}"
></script>
<!-- Bootstrap tether Core JavaScript -->
<script
  type="text/javascript"
  src="{{url_for('static', filename='assets/libs/popper.js/dist/umd/popper.min.js')}}"
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.min.js')}}"
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename='assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js')}}"
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename='assets/extra-libs/sparkline/sparkline.js')}}"
></script>
<!--Wave Effects -->
<script
  type="text/javascript"
  src="{{url_for('static', filename='dist/js/waves.js')}}"
></script>
<!--Menu sidebar -->
<script
  type="text/javascript"
  src="{{url_for('static', filename='dist/js/sidebarmenu.js')}}"
></script>
<!--Custom JavaScript -->
<script
  type="text/javascript"
  src="{{url_for('static', filename='dist/js/custom.min.js')}}"
></script>
<!--This page JavaScript -->
<!-- <script src="dist/js/pages/dashboards/dashboard1.js"></script> -->
{% endblock %}
